@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #F4A02D;
  background-image: url('./assets/mindbliss-bg.jpg');  /* ✅ Path relative to your CSS or use absolute path */
  background-size: cover;          /* ✅ Make sure the image covers full screen */
  background-position: center;      /* ✅ Center the image */
  background-repeat: no-repeat;     
  background-attachment: fixed;    
  opacity: 0.5;
}