@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.shake {
  animation: shake 0.4s ease-in-out;
  border: 1px solid red;
}

.signup-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.signup-card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(14px);
  border: 2px solid #ffffff30;
  border-radius: 25px;
  padding: 50px 40px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.signup-title {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 8px;
}

.signup-subtitle {
  font-size: 15px;
  color: #555;
  margin-bottom: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.signup-input {
  padding: 14px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  background-color: #e9dfdf;   /* Clean white box */
  color: #000000;              /* Black text */
  outline: none;
  width: 95%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* subtle modern shadow */
  transition: box-shadow 0.2s ease;
}
.signup-input:focus {
  box-shadow: 0 0 0 3px #F4A02D;  /* focus glow in warm orange */
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container .signup-input {
  width: 93%;
  padding-right: 45px;
  padding-bottom: 20px;
}

.signup-input::placeholder {
  color: #888888;
}

.signup-button {
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  background-color: #F8E479;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #e58e1a;
}

.signup-footer {
  font-size: 14px;
  color: #FFFFFF;
  margin-top: 25px;
}

.login-link {
  color: #e35711;
  text-decoration: underline;
  cursor: pointer;
}
/* Prevent browser autofill styles */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  box-shadow: 0 0 0px 1000px #ffffff inset !important;
  -webkit-text-fill-color: #000000 !important;
  transition: background-color 5000s ease-in-out 0s;
}
