.melo-popup {
  position: fixed;
  bottom: -200px;
  right: 20px;
  width: auto;
  z-index: 1000;
  transition: bottom 1s ease-in-out;
  text-align: center;
}

.melo-popup.show {
  bottom: 30px;
}

.melo-text {
  background-color: #fff8dc;
  padding: 6px 10px;
  font-size: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: -82px;
  color: #333;
}
.melo-animation {
  width: 250px;
  height: 250px;
  margin: 0 auto;        /* center horizontally */
  display: block;
}
.melo-popup:hover .melo-text {
  background-color: #f8e479; /* soft yellow on hover */
  color: #000; /* make text darker if needed */
  transform: scale(1.05);
}