/* musicplayer.css */
.music-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(100, 63, 13, 0.2);
  border: none;
  border-radius: 50%;
  padding: 12px;
  backdrop-filter: blur(6px);
  color: #A63D28;
  font-size: 20px;
  z-index: 9999;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.music-toggle:hover {
  transform: scale(1.1);
}
